.pworksTitle {
    position: relative;
    right: 30px;
    display: flex;
    width: 900px;
    margin: 120px auto 80px;
}

.pworksTitle h2 {
    margin-left: 40px;
    font-weight: 600;
    line-height: 80px;
}

.pworksLine {
    width: 30px;
    height: 80px;
    background-color: #93A1AA;
}

/* タブメニュー */
.pworksList {
    width: 900px;
    margin: 0 auto 48px;
}

.pworksTab {
    display: flex;
}

.pworksTab li {
    line-height: 60px;
    height: 60px;
    width: 120px;
    text-align: center;
}



.pworksTab_link {
    color: #999;
}

.pworksTab li.active a {
    color: #1b1b1b;
    font-weight: bold;
}

/* work1 */
.pworkArea {
    width: 900px;
    margin: 0 auto;
    display: none; /*はじめは非表示*/
    opacity: 0; /*透過0*/
}

.pworkArea.is-active {
    display: block; /*表示*/
    animation-name: displayAnime; /*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.pworkAreaBox {
    display: flex;
    justify-content: space-between;
}

.pworkTitle {
    position: relative;
    right: 20px;
    display: flex;
}

.pworkTitle h1 {
    margin: 0 16px;
    line-height: 60px;
}

.pworkTitleBox {
    width: 280px;
}

.pworkTitleBox h3 {
    font-weight:bold;
    line-height: 60px;
    margin-bottom: 28px;
}

.pworkTitleBox p {
    line-height: 1.8em;
}

.pworkLine {
    width: 20px;
    height: 60px;
    background-color: #93A1AA;
}

.pworkTime {
    margin-top: 12px;
    color: grey;
}

.pworkskills {
    color: grey;
}

.pworkImg {
    overflow: hidden;
    width: 470px;
    height: 800px;
    border: 3px solid #93A1AA;
    border-radius: 20px;
}

.pworkImg img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.5s;
    display: block;
    transition-duration: 0.5s;/*変化の時間*/
}

.pworkImg img:hover {
    transform: scale(1.1, 1.1);
    /*画像の拡大*/
    cursor: pointer;
    /*カーソルをポインターにする*/
}

.portfolio-img {
    height: 470px;
}

.react-Todo {
    height: 400px;
}

.react-Todo img {
    height: 400px;
    object-fit: fill;
}

.pworkGithub {
    margin: 120px 0 200px;
    height: 100px;
    border: solid 2px #93A1AA;
    border-radius: 12px;
}

.githubTitle {
    text-align: center;
    width: 140px;
    position: relative;
    bottom: 12px;
    left: 40px;
    font-size: 14px;
    color: grey;
    background-color: #f0f0f0;
}

.githubImgText {
    display: flex;
}

.githubImg {
    width: 120px;
    height: 60px;
    margin-left: 48px;
    margin-right: 32px;
    text-align: center;
}

.githubImg img {
    width: 60px;
    height: 60px;
}

.githubImgText p {
    line-height: 60px;
    font-weight: 600;
}